<div class="container">
  <% @questions.each do |question| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
      <div class="card-product-infos">

        <h2><%= question.evenement.nom %> - <%= question.categorie %></h2>
        <p><%= question.contenu %></p>

        <% if policy(question).edit? %>
          <p>
            <%= link_to edit_question_path(I18n.locale, question) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <a href='/question' data-method="delete" data-confirm='Etes-vous sure de vouloir supprimer?'><i class="far fa-trash-alt"></i></a>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if policy(Question).create? %>
    <%= link_to new_question_path(I18n.locale) do %>
      <i class="fas fa-plus"></i>
    <% end %>
  <% end %>
</div>
