<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Laisser vide si vous ne voulez pas modifier",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Nous avons besoin de votre mot de passe actuel pour valider les modifications",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :prenom %>
    <%= f.input :nom %>
    <%= f.input :adresse %>
    <%= f.input :ville %>
    <%= f.input :naissance, as: :date, start_year: Date.today.year - 13,
                      end_year: Date.today.year - 7,
                      order: [:day, :month, :year] %>
    <%= f.input :sexe , collection: ["Garçon", "Fille"] %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mettre à jour", class: 'login-submit v-btn rounded' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sure?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
