<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Laisser vide si vous ne voulez pas le modifier",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Nous avons besoin de votre mot de passe actuel pour valider les modifications",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :prenom %>
    <%= f.input :nom %>
    <%= f.input :adresse %>
    <%= f.input :ville %>
    <%= f.input :date_de_naissance %>
    <%= f.input :sexe %>
    <%= f.input :taille %>
    <%= f.input :taille_vetement %>
    <%= f.input :pointure %>
    <%= f.input :nationalite_residence %>
    <%= f.input :allergie_intolerance %>
    <%= f.input :allergie_intolerance_contenu %>
    <%= f.input :medicament %>
    <%= f.input :medicament_contenu %>
    <%= f.input :autre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mettre à jour" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sure?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
