<div id="login-form">
  <div class="container card half-screen">
    <div class="flex-column">
      <%= link_to root_path(I18n.locale) do %>
      <%= image_tag 'logo-MCJR.png', class: 'small-logo' %>
      <% end %>
      <h2>Inscription</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-12 col-sm-6">
              <%= f.input :prenom %>
          </div>
          <div class="col-12 col-sm-6">
            <%= f.input :nom %>
          </div>
          <div class="col-12">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, class: 'login-input'%>
          </div>
          <div class="col-12">
            <%= f.input :password,
                    required: true,
                    label: 'Mot de passe',
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }, class: 'login-input' %>
          </div>
          <div class="col-12">
            <%= f.input :password_confirmation,
                    label: 'Confirmation du mot de passe',
                    required: true,
                    input_html: { autocomplete: "new-password" }, class: 'login-input' %>
          </div>
        </div>


      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire", class: 'login-submit v-btn rounded' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

