<div id="home-wrapper">

  <div id="home-banner">
    <div id="home-carousel" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="banner-gradient">
              <%= image_tag 'trophe.jpg', class: 'banner' %>
            </div>
            <div class=" carousel-caption text-container">
              <h1><%= t('home.titre') %></h1>
              <p><%= t('home.sous_titre_1') %><br><%= t('home.sous_titre_2') %> </p>
              <%= link_to t('home.inscription'), new_inscription_path(I18n.locale), class: "home-btn" %>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="banner-gradient">
              <%= image_tag 'trophe.jpg', class: 'banner' %>
            </div>            <div class=" carousel-caption text-container">
              <h1><%= t('home.titre') %></h1>
              <p><%= t('home.sous_titre_1') %><br><%= t('home.sous_titre_2') %> </p>
              <%= link_to t('home.inscription'), new_inscription_path(I18n.locale), class: "home-btn" %>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="banner-gradient">
              <%= image_tag 'trophe.jpg', class: 'banner' %>
            </div>            <div class=" carousel-caption text-container">
              <h1><%= t('home.titre') %></h1>
              <p><%= t('home.sous_titre_1') %><br><%= t('home.sous_titre_2') %> </p>
              <%= link_to t('home.inscription'), new_inscription_path(I18n.locale), class: "home-btn" %>
            </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <div class="home-video">
    <div class="embedresize">
      <div>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VSvy_FEUDg4?el=0&modestbranding=1&autohide=1&mute=1&showinfo=1&autoplay=1&start=0&version=3&loop=1&playlist=VSvy_FEUDg4&autoplay=1&controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      </div>
    </div>
  </div>

  <div class="home-comment">
    <section>
      <h3 class='title'><%= t('home.comment') %></h3>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4">
            <div class="home-card">
              <i class="fas fa-download"></i>
              <h4><%= t('home.step_1.title') %></h4>
              <p><%= t('home.step_1.text_1') %><strong><%= t('home.step_1.text_2') %></strong> <%= t('home.step_1.text_3') %></p>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4">
            <div class="home-card">
              <i class="fas fa-envelope"></i>
              <h4><%= t('home.step_2.title') %></h4>
              <p><%= t('home.step_2.text_1') %><strong><%= t('home.step_2.text_2') %></strong> <%= t('home.step_2.text_3') %><strong><%= t('home.step_2.text_4') %></strong></p>
            </div>
          </div>
          <div class="col-xs-12 col-lg-4">
            <div class="home-card">
              <i class="fas fa-trophy"></i>
              <h4><%= t('home.step_3.title') %></h4>
              <p><%= t('home.step_3.text_1') %><br><strong><%= t('home.step_3.text_2') %></strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <a name="episodes"></a>
  <div class="home-episodes">
    <section>
      <h3 class='title white'><%= t('home.episodes') %></h3>
      <div class="container-fluid">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row " role="listbox">
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
              <h3><%= t("home.episode_1") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/I6YS0Y0cfSQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.episode_2") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/gKrJZb1ZUAo" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.episode_3") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_zdVitGdzzE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.episode_4") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_XMi2KVcVyQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.episode_5") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/aIb_cRluN3Q" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.episode_6") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7GcZGE487Ao" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid carousel-video mx-auto d-block"></iframe width="100%" height="100%">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
            <i class="fas fa-chevron-left carousel-icon"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
            <i class="fas fa-chevron-right carousel-icon"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  </div>

  <a name="jury"></a>
  <div class="home-jury ">
    <section>
      <h3 class='title'><%= t('home.jury') %></h3>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class=" card home-card card-horizontal" >
              <div style="background-image: url(<%= image_path('trophe.jpg') %>" class="card-image"></div>
                <div class="card-body">
                <p class="card-text"><%= t("home.chef.moha") %></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class=" card home-card card-horizontal" >
              <div style="background-image: url(<%= image_path('trophe.jpg') %>" class="card-image"></div>
              <div class="card-body">
                <p class="card-text"><%= t("home.chef.mimi") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>
  </div>

  <a name="candidats"></a>
  <div class="home-candidats">
    <section class='last-section'>
      <h3 class='title white'><%= t('home.candidats') %></h3>
      <div class="container-fluid">
        <div id="carousel-example2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
              <h3><%= t("home.douaa") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pD9QPgVupQA" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.aya") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/n9KpfPhwmdk" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.lina") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/czdcY31BaN0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.rana") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/czdcY31BaN0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.rania") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Z8RUjYNmxNw" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe width="100%" height="100%">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.mya") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/y40Ik0mXcwc" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.samy") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/w7KQ9nQ9oLU" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.omar") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tiVUql_tdB0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.abdou") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zNnd17sgMtQ" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.salma") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/riSPOm5ijvs" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.kamil") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2cC44TPDSfA" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
              <h3><%= t("home.nada") %></h3>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/452DlU70Ul0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="img-fluid mx-auto carousel-video d-block"></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example2" role="button" data-slide="prev">
            <i class="fas fa-chevron-left carousel-icon"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example2" role="button" data-slide="next">
            <i class="fas fa-chevron-right carousel-icon"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
  </div>

<!--   <div class="home-social">
    <section>
    <h3 class='title'><%= t('home.follow') %></h3>
    <div class="social-flex">
      <div class="fb w-33">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fweb.facebook.com%2Fmasterchefmarocofficiel%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="ig w-33">
          <p>MasterChefMarocOfficiel</p>
          <a href="https://www.instagram.com/masterchefmarocofficiel/"><%= image_tag 'insta.png', class: 'insta-img' %></a>
      </div>
      <div class="yt w-33">
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channel="masterchefma" data-layout="full" data-count="default"></div>
      </div>
      </div>
    </section>
  </div> -->


</div>

