<div id="home-wrapper">
  <div id="home-top">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('trophe.jpg') %>);">
      <div class="text-container">
        <h1><%= t('home.titre') %></h1>
        <p><%= t('home.sous_titre_1') %><br><%= t('home.sous_titre_2') %> </p>
        <%= link_to t('home.inscription'), new_inscription_path, class: "home-btn" %>
      </div>
    </div>
  </div>

    <section>
    <h3 class='title'><%= t('home.comment') %></h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <i class="fas fa-download"></i>
            <h4><%= t('home.step_1.title') %></h4>
            <p><%= t('home.step_1.text_1') %><strong><%= t('home.step_1.text_2') %></strong> <%= t('home.step_1.text_3') %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <i class="fas fa-envelope"></i>
            <h4><%= t('home.step_2.title') %></h4>
            <p><%= t('home.step_2.text_1') %><strong><%= t('home.step_2.text_2') %></strong> <%= t('home.step_2.text_3') %><strong><%= t('home.step_2.text_4') %></strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="home-card">
            <i class="fas fa-trophy"></i>
            <h4><%= t('home.step_3.title') %></h4>
            <p><%= t('home.step_3.text_1') %><br><strong><%= t('home.step_3.text_2') %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class='last-section'>
    <div class="container-fluid">
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
            <img src="<%= image_path('trophe.jpg') %>" class="img-fluid mx-auto d-block" alt="img1">
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="<%= image_path('trophe.jpg') %>" class="img-fluid mx-auto d-block" alt="img2">
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="<%= image_path('trophe.jpg') %>" class="img-fluid mx-auto d-block" alt="img3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
          <i class="fas fa-chevron-left carousel-icon"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
          <i class="fas fa-chevron-right carousel-icon"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <br><br><br>
</div>

