
<%= simple_form_for(@inscription) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :evenement %>
    <%= f.input :q1 %>
    <%= f.input :r1 %>
    <%= f.input :q2 %>
    <%= f.input :r2 %>
    <%= f.input :q3 %>
    <%= f.input :r3 %>
    <%= f.input :q4 %>
    <%= f.input :r4 %>
    <%= f.input :q5 %>
    <%= f.input :r5 %>
    <%= f.input :q6 %>
    <%= f.input :r6 %>
    <%= f.input :q7 %>
    <%= f.input :r7 %>
    <%= f.input :q8 %>
    <%= f.input :r8 %>
    <%= f.input :q9 %>
    <%= f.input :r9 %>
    <%= f.input :q10 %>
    <%= f.input :r10 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
