<%= form_for(@inscription) do |form| %>
  <%= form.fields_for :reponses do |reponse_form| %>
    <div>
      <p><%= reponse_form.object.question.contenu %></p>
      <%= reponse_form.text_area :contenu %>
      <%= reponse_form.hidden_field :question_id, value: reponse_form.object.question_id %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
