
  <% new_category = nil %>
  <%= form_for(@inscription, url: (@inscription.new_record? ? inscriptions_path : inscription_path(locale: I18n.locale, id: inscription))) do |form| %>
    <%= form.fields_for :reponses do |reponse_form| %>
      <div class="form-inputs">
        <% if new_category != reponse_form.object.question.categorie %>
          <h4><%= t("inscription.cat.#{reponse_form.object.question.categorie}") %></h4>
          <% new_category = reponse_form.object.question.categorie %>
        <% end %>
        <p><%= t("question.#{reponse_form.object.question.categorie}.#{reponse_form.object.question.contenu}") %></p>
        <%= reponse_form.text_area :contenu %>
        <%= reponse_form.hidden_field :question_id, value: reponse_form.object.question_id %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form.submit %>
    </div>
  <% end %>
