<div class="container">
  <h1>Mise à jour d'inscription</h1>

    <% content_for :after_js do %>
      <%= javascript_pack_tag 'vue_inscription' %>
  <% end %>

  <div id='app' data-evenement='<%= @evenement %>' data-inscription='<%= @inscription.id %>'></div>

  <%= link_to t('voir'), inscription_path(I18n.locale,@inscription) %> |
  <%= link_to t('retour'), inscriptions_path %>
</div>
