<div class="container min-height-full offset-top">
  <h2 class='page-title text-center'><%= t("pages.insc_index")%></h2>
  <br><br>
  <% if policy(Inscription).create? %>
  <div class="d-flex justicy-content-center">
    <%= link_to new_inscription_path(I18n.locale), class: "btn btn-lg btn-circle inscription-btn btn-success" do%>
      <span class='btn-plus'>+</span> <%=  t('home.inscription') %>
      <% end %>
  </div>
  <% end %>
  <br><br>
  <% unless @inscriptions.all.nil? %>
  <div class="row">
    <% @inscriptions.each do |inscription| %>
    <div class="col-12 col-sm-6">
      <div class="card-product">

        <img src="<%= inscription.photo_candidat.blank? ? 'https://picsum.photos/id/429/400/600' : inscription.photo_candidat.url%>">
        <div class="card-product-infos">
          <% rep = inscription.reponses.reject { |r| r.contenu.blank? }.count %>
          <% tot = inscription.reponses.count.to_f %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= (rep / tot * 100).round %>%;" aria-valuenow= <%= (rep / tot * 100).round %> aria-valuemin="0" aria-valuemax="100"><%= (rep / tot * 100).round %>%</div>
          </div>
          <h2><%= inscription.evenement.nom %> - <%= inscription.user.prenom %> <%= inscription.user.nom %> </h2>
          <% if policy(inscription).edit? %>
            <p>
              <%= link_to edit_inscription_path(I18n.locale, inscription) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </p>
          <% end %>
          <% if policy(inscription).destroy? %>
            <p>
            <a href="/inscriptions/<%= inscription.id %>" data-method="delete" data-confirm='Etes-vous sure de vouloir supprimer?'><i class="far fa-trash-alt danger"></i></a>
            </p>
          <% end %>
          <% if policy(inscription).show? %>
            <p>
              <%= link_to inscription_path(I18n.locale, inscription) do %>
                <i class="far fa-eye"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
