<div class="container">
  <% unless @inscriptions.all.nil? %>
    <% @inscriptions.each do |inscription| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
        <div class="card-product-infos">
          <% rep = inscription.reponses.reject { |r| r.contenu.blank? }.count %>
          <% tot = inscription.reponses.count.to_f %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= (rep / tot * 100).round %>%;" aria-valuenow= <%= (rep / tot * 100).round %> aria-valuemin="0" aria-valuemax="100"><%= (rep / tot * 100).round %>%</div>
          </div>
          <h2><%= inscription.evenement.nom %> - <%= inscription.user.prenom %> <%= inscription.user.prenom %> </h2>
          <% if policy(inscription).edit? %>
            <p>
              <%= link_to edit_inscription_path(I18n.locale, inscription) do %>
                <i class="far fa-edit"></i>
              <% end %>
            </p>
          <% end %>
          <% if policy(inscription).destroy? %>
            <p>
            <a href="/inscriptions/<%= inscription.id %>" data-method="delete" data-confirm='Etes-vous sure de vouloir supprimer?'><i class="far fa-trash-alt"></i></a>
            </p>
          <% end %>
          <% if policy(inscription).show? %>
            <p>
              <%= link_to inscription_path(I18n.locale, inscription) do %>
                <i class="far fa-eye"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if policy(Inscription).create? %>
    <%= link_to t('home.inscription'), new_inscription_path(I18n.locale), class: "home-btn" %>
  <% end %>
</div>
