<div class="container offset-top">
  <h1 class='page-title text-center'><%= t("pages.insc_new")%></h1>
  <% content_for :after_js do %>
      <%= javascript_pack_tag 'vue_inscription' %>
  <% end %>

  <div id='app' data-evenement='<%= @evenement %>' data-inscription='<%= false %>' data-photo1="<%= nil %>" data-photo2='<%= nil %>' data-photo3='<%= nil %>' data-photo_candidat='<%= nil %>' data-translations='<%= @translations.to_json %>'></div>
</div>



