<div class="container">
  <h1 class='page-title text-center'>Nouvelle inscription</h1>
  <% content_for :after_js do %>
      <%= javascript_pack_tag 'vue_inscription' %>
  <% end %>

  <div id='app' data-evenement='<%= @evenement %>' data-inscription='<%= false %>' data-photo1="<%= nil %>" data-photo2='<%= nil %>' data-photo3='<%= nil %>'></div>
</div>



