<p id="notice"><%= notice %></p>
<%= cl_image_tag @inscription.photo_1, height: 300, width: 400, crop: :fill %>
<h3>
  <strong>User:</strong>
  <%= @inscription.user.email %>
</h3>

<h3>
  <strong>Evenement:</strong>
  <%= @inscription.evenement.nom %>
</h3>

<% new_category = nil %>
<h3><strong>Reponses:</strong></h3>

<% @inscription.reponses.each do |reponse| %>
  <% if new_category != reponse.question.categorie %>
    <h3><strong><%= reponse.question.categorie %><strong></h3>
    <% new_category = reponse.question.categorie %>
  <% end %>
  <h4><%= reponse.question.contenu %></h4>
  <h4><%= reponse.contenu %></h4>
  <br/><br/>
<% end %>


<%= link_to 'Edit', inscriptions_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
