<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inscription.user %>
</p>

<p>
  <strong>Evenement:</strong>
  <%= @inscription.evenement %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @inscription.q1 %>
</p>

<p>
  <strong>R1:</strong>
  <%= @inscription.r1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @inscription.q2 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @inscription.r2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @inscription.q3 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @inscription.r3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @inscription.q4 %>
</p>

<p>
  <strong>R4:</strong>
  <%= @inscription.r4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @inscription.q5 %>
</p>

<p>
  <strong>R5:</strong>
  <%= @inscription.r5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @inscription.q6 %>
</p>

<p>
  <strong>R6:</strong>
  <%= @inscription.r6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @inscription.q7 %>
</p>

<p>
  <strong>R7:</strong>
  <%= @inscription.r7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @inscription.q8 %>
</p>

<p>
  <strong>R8:</strong>
  <%= @inscription.r8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @inscription.q9 %>
</p>

<p>
  <strong>R9:</strong>
  <%= @inscription.r9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @inscription.q10 %>
</p>

<p>
  <strong>R10:</strong>
  <%= @inscription.r10 %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
