<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inscription.user.email %>
</p>

<p>
  <strong>Evenement:</strong>
  <%= @inscription.evenement.nom %>
</p>

<p>
  <strong>Reponse:</strong>
  <% @inscription.reponses.each do |reponse| %>
    <%= reponse.contenu %>
  <% end %>
</p>


<%= link_to 'Edit', inscriptions_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
