<div id="login-form">
  <div class="container card half-screen">
    <div class="flex-column">
      <%= link_to root_path(I18n.locale) do %>
      <%= image_tag 'logo-MCJR.png', class: 'small-logo' %>
      <% end %>
      <h2><%= t('navbar.connexion') %></h2>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, class: 'login-input' %>
        <%= f.input :password,
                    required: false,
                    label: 'Mot de passe',
                    input_html: { autocomplete: "current-password" }, class: 'login-input' %>
        <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('navbar.connexion'), class: 'login-submit v-btn rounded' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
