<p id="notice"><%= notice %></p>

<h1>Evenements</h1>

<ul>
  <li>Nom</li>
  <li>Date</li>
  <li>Adresse</li>
  <li>Actif</li>
  <% @evenements.each do |evenement| %>
    <li><%= evenement.nom %></li>
    <li><%= evenement.date %></li>
    <li><%= evenement.adresse %></li>
    <li><%= evenement.actif %></li>
    <% if policy(evenement).edit? %>
      <li><%= link_to 'Editer', edit_evenement_path(evenement) %></li>
    <% end %>
  <% end %>
</ul>

<% if policy(Evenement).create? %>
  <%= link_to 'Nouvel evenement', new_evenement_path %>
<% end %>
